body {
  background-color: #252525;
  font-family: sans-serif;
  .App {
    height: 100%;
    width: 40%;
    // background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px 0px black;
    border-radius: 10px;
    overflow-y: scroll;

    h1 {
      color: #ecf3f9;
      font-weight: 400;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 2.5px solid #e6ee9b;
    }
    .input-container {
      display: flex;
      flex-direction: column;
      border-bottom: 2.5px solid #cf93d9;
      input {
        color: #ecf3f9;
        margin: auto;
        width: 60%;
        font-size: 25px;
        background-color: transparent;
        outline: none;
        border: 2.5px solid #3b3b3b;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 25px;
      }
      textarea {
        border-radius: 25px;
        color: #ecf3f9;
        margin: auto;
        background-color: transparent;
        resize: none;
        border: 2.5px solid #3b3b3b;
        outline: none;
        margin-bottom: 10px;
        font-size: 18px;
        width: 60%;
        padding: 5px 10px;
        height: 100px;
      }
      button {
        background-color: #3b3b3b;
        outline: none;
        // border: none;
        color: #ecf3f9;
        font-size: 25px;
        width: 20%;
        padding: 5px;
        border-radius: 25px;
        // height: 25px;
        margin: auto;
        margin-bottom: 5px;
      }
      button:hover {
        cursor: pointer;
        background-color: #656668;
        color: #ffffff;
      }
    }
    .search-container {
      display: flex;
      border-bottom: 2.5px solid #80deea;
      width: 100%;
      margin-bottom: 10px;
      input {
        margin: auto;
        outline: none;
        border: 2.5px solid #3b3b3b;
        background-color: transparent;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        padding: 5px 10px;
        border-radius: 25px;
        color: #ecf3f9;
        width: 60%;
      }
    }
    .list-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      .note-container {
        background-color: #ffcc80;
        width: 97.5%;
        margin: auto;
        border-radius: 25px;
        margin-bottom: 10px;
        .title {
          width: 97.5%;
          h2 {
            color: #252525;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
          }
        }
        .title:hover {
          cursor: pointer;
        }
        .date-btn {
          display: flex;
          flex-direction: row;
          width: 97.5%;
          justify-content: space-between;
          margin-bottom: 10px;
          h4 {
            margin-top: 5px;
            margin-bottom: 0px;
            font-weight: 500;
            margin-left: 15px;
            color: grey;
          }
          .btns {
            button {
              background-color: #ecf3f9;
              color: #3b3b3b;
              outline: none;
              height: 40px;
              width: 40px;
              border-radius: 10px;
              font-size: 25px;
              margin-right: 5px;
            }
            button:hover {
              cursor: pointer;
            }
            .delete:hover {
              color: #ec4646;
            }
            .edit:hover {
              color: #11698e;
            }
          }
        }
      }
    }
  }
  .App::-webkit-scrollbar {
    display: none;
  }
}
